@{
    ViewData["Title"] = "Home Page";
}

@model ResultVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<link href="~/css/Index.css" rel="stylesheet" />
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="Play" asp-controller="Home" name="inputForm" method="post">
                <h4>Type 4 digits</h4>
                <div class="row mb-2">
                    <input type="number" asp-for="first" class="form-control col-sm-4" value="" min="0" max="9">
                </div>
                <div class="row mb-2">
                    <input type="number" asp-for="second" class="form-control col-sm-4" value="" min="0" max="9">
                </div>
                <div class="row mb-2">
                    <input type="number" asp-for="third" class="form-control col-sm-4" value="" min="0" max="9">
                </div>
                <div class="row mb-2">
                    <input type="number" asp-for="fourth" class="form-control col-sm-4" value="" min="0" max="9">
                </div>


                @if (Model.leftTries == (int)Enums.Tries.endValue || Model.leftTries == (int)Enums.Tries.initialValue)
                {
                    <input type="hidden" asp-for="newGame" value="true">
                    <button type="submit" class="btn btn-primary">New Game</button>
                }
                else
                {
                    <input type="hidden" asp-for="newGame" value="false">
                    <button type="submit" class="btn btn-success">Guess the number</button>
                }
            </form>
        </div>

        @if (Model.playedGame)
        {
            <div class="col-lg-6 resultTable">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Bulls</th>
                            <th>Cows</th>
                            <th>Guessed number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var turn in Model.listUserTurns)
                        {
                            <tr>
                                <td>
                                    @turn.Bulls
                                </td>
                                <td>
                                    @turn.Cows
                                </td>
                                <td>
                                    @turn.GuessedNumber
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="row">
        <p class="result">
            Left tries =  @Model.leftTries
        </p>
    </div>

    @if (Model.resultMessage != null && Model.resultMessage[0] != null)
    {
        <div class="row mt-5">
            <div class="alert alert-info" role="alert">
                @Model.resultMessage[0]
            </div>
        </div>
    }
}
else
{
    <div class="text-center">
        <img src="https://benjdd.com/courses/cs110/fall-2018/pas/bulls_and_cows/res/bulls_and_cows.png" class="img-fluid w-75" alt="Responsive image">
    </div>
    <div class="text-center">
        <h3>How to play!</h3>
        <h5>The computer generates a 4-digit number.</h5>
        <h5>There can be no repeating digits!</h5>
        <h5>If the matching digits are in their right positions, they are "bulls", if in different positions, they are "cows".</h5>
        <h5>You have 20 turns to guess the number.</h5>
        <h5>In order to play, you need to login or register!</h5>
    </div>
}
